@model IEnumerable<DAL.TravelDetail>

@{
    ViewBag.Title = "MyAlbums";
}

<h2>MyAlbums</h2>

<p>
    @Html.ActionLink("AddAlbum", "AddAlbum")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TravelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostOfTravel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TravelId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostOfTravel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            @Html.ActionLink("PlacesToVisit", "VisitingPlaces", new {  id=item.Location})
        </td>
    </tr>
}

</table>
